@keyframes Start {
  0% {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
@keyframes Preloader {
  to {
    transform: rotate(1turn);
  }
}
@keyframes Play {
  0% {
    background-position: 0;
  }
  to {
    background-position: -360px;
  }
}
@keyframes Ani {
  0% {
    box-shadow: 0 0 0 rgba(220, 220, 220, 0);
    border: 1px solid rgba(220, 220, 220, 0);
    transform: scale(0);
  }
  70% {
    box-shadow: 0 0 50px gainsboro;
    border: 1px solid gainsboro;
    transform: scale(1);
  }
  to {
    box-shadow: 0 0 60px rgba(220, 220, 220, 0);
    border: 0 solid rgba(220, 220, 220, 0);
    transform: scale(2);
  }
}
@keyframes BgColor {
  0% {
    background-color: #004835;
  }
  to {
    background-color: #b05c1e;
  }
}
@keyframes Leftpage {
  0% {
    left: -100%;
  }
  to {
    left: 100%;
  }
}
@keyframes Rotate {
  0% {
    transform: rotate(0deg) translateZ(0);
  }
  to {
    transform: rotate(1turn) translateZ(0);
  }
}
@keyframes empty {
  0% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100px, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
@keyframes fadeBlur {
  0% {
    filter: blur(0);
  }
  to {
    filter: blur(15px);
  }
}
@keyframes flipInY {
  0% {
    transform: scale(2);
    filter: blur(20px);
    opacity: 0;
  }
  to {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes flipOutY {
  0% {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
  }
  to {
    transform: scale(2);
    filter: blur(20px);
    opacity: 0;
  }
}
@keyframes flipOutX {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes scaleSmall {
  0% {
    opacity: 0;
    transform: rotate(15deg) scale(0.8);
  }
  to {
    opacity: 1;
    transform: rotate(0deg) scale(1);
  }
}
@keyframes scaleLarge {
  0% {
    opacity: 0;
    transform: scale(2);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes scaleLarge2 {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes trackBallSlide {
  0% {
    opacity: 1;
    transform: translateY(-12px);
  }
  15% {
    opacity: 0;
    transform: translateY(8px);
  }
  30% {
    opacity: 1;
    transform: translateY(-12px);
  }
  50% {
    opacity: 0;
    transform: translateY(8px);
  }
  60% {
    opacity: 1;
    transform: translateY(-12px);
  }
  to {
    opacity: 1;
    transform: translateY(-12px);
  }
}
@keyframes goHeight {
  0% {
    transform: scaleY(0);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes goWidth {
  0% {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes aniHeight {
  0% {
    transform: scaleX(1);
  }
  to {
    transform: scaleY(0);
  }
}
@keyframes aniWidth {
  0% {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}
@keyframes moveLeft {
  to {
    transform: translateX(-100%);
  }
}
@keyframes moveRight {
  to {
    transform: translateX(100%);
  }
}
@keyframes aniRight {
  to {
    transform: translateX(12vw);
  }
}
@keyframes toRight {
  0% {
    opacity: 0;
    right: -100px;
  }
  to {
    opacity: 1;
    right: 0;
  }
}
@keyframes toLeft {
  0% {
    opacity: 0;
    left: -100px;
  }
  to {
    opacity: 1;
    left: 0;
  }
}
@keyframes goRight {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes goLeft {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes DrawStroke {
  0% {
    stroke-dashoffset: 3500;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes DrawStroke1 {
  0% {
    stroke-dashoffset: 2500;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes DrawStroke2 {
  0% {
    stroke-dashoffset: 4000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes FillIn {
  0% {
    fill-opacity: 0;
  }
  to {
    fill-opacity: 1;
  }
}
@keyframes goBg {
  0% {
    transform: translate3d(-50%, 0, 0);
  }
  to {
    transform: none;
  }
}
@keyframes bounceInDown {
  0%, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }
  75% {
    transform: translate3d(0, -10px, 0);
  }
  90% {
    transform: translate3d(0, 5px, 0);
  }
  to {
    opacity: 1;
  }
}
@keyframes bounceInGrow {
  0%, 80%, 85%, 95%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
  80% {
    opacity: 1;
    transform: translate3d(0, -15px, 0);
  }
  85% {
    transform: translate3d(0, 10px, 0);
  }
  95% {
    transform: translate3d(0, -5px, 0);
  }
  to {
    opacity: 1;
  }
}
@keyframes Color2 {
  0% {
    background-color: #00431c;
  }
  20% {
    background-color: #b08a30;
  }
  60% {
    background-color: #00431c;
  }
}
@keyframes Border {
  0% {
    fill: #d98b28;
  }
  20% {
    fill: #225076;
  }
  60% {
    fill: #d0b179;
  }
  80% {
    fill: #225076;
  }
  to {
    fill: #d98b28;
  }
}
@keyframes Background {
  0% {
    background-color: #0f304b;
  }
  to {
    background-color: transparent;
  }
}
@keyframes BackgroundIn {
  0% {
    background-color: transparent;
  }
  to {
    background-color: #0f304b;
  }
}
@keyframes Bounce {
  0% {
    transform: translateZ(0) rotate(0);
  }
  50% {
    transform: translate3d(50px, 20px, 0) rotate(125deg);
  }
  to {
    transform: translateZ(0) rotate(1turn);
  }
}
@keyframes StrokeLine {
  0% {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -200;
  }
}
@keyframes StrokeLine1 {
  0% {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 200;
  }
}
@keyframes BorderBox {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0 50%;
  }
}
@keyframes MaskPlay {
  0% {
    mask-position: 0 0;
  }
  to {
    mask-position: 100% 0;
  }
}
@keyframes Move-Arrow {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    transform: translateY(10px);
  }
  66.6% {
    opacity: 1;
    transform: translateY(20px);
  }
  to {
    opacity: 0;
    transform: translateY(30px) scale(0.5);
  }
}
@keyframes bounceInLeft {
  0%, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(-500px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }
  75% {
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    transform: translate3d(5px, 0, 0);
  }
  to {
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes bounceInRight {
  0%, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(500px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    transform: translate3d(10px, 0, 0);
  }
  90% {
    transform: translate3d(-5px, 0, 0);
  }
  to {
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes bounceInBottom {
  0%, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -1000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -25px, 0);
  }
  75% {
    transform: translate3d(0, 5px, 0);
  }
  90% {
    transform: translate3d(0, -5px, 0);
  }
  to {
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes bounceBottom {
  0%, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    opacity: 1;
  }
  0% {
    transform: translateZ(0);
  }
  60% {
    transform: translate3d(0, -10px, 0);
  }
  75% {
    transform: translate3d(0, 10px, 0);
  }
  90% {
    transform: translate3d(0, -10px, 0);
  }
  to {
    transform: translateZ(0);
  }
}
@keyframes bounceLeft {
  0%, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    opacity: 1;
  }
  0% {
    transform: translateZ(0);
  }
  60% {
    transform: translate3d(10px, 0, 0);
  }
  75% {
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    transform: translate3d(10px, 0, 0);
  }
  to {
    transform: translateZ(0);
  }
}
@keyframes bounceRight {
  0%, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    opacity: 1;
  }
  0% {
    transform: translateZ(0);
  }
  60% {
    transform: translate3d(-10px, 0, 0);
  }
  75% {
    transform: translate3d(10px, 0, 0);
  }
  90% {
    transform: translate3d(-10px, 0, 0);
  }
  to {
    transform: translateZ(0);
  }
}
@keyframes InRight {
  0% {
    opacity: 0;
    top: -100px;
  }
  to {
    opacity: 1;
    top: 20px;
  }
}
.elementor-section.fp-section > .elementor-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.jankx-site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.wheel {
  position: relative;
  width: 50px;
  height: 50px;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  z-index: 20;
}
.wheel span {
  position: absolute;
  width: 40%;
  left: 30%;
  top: 30%;
  height: 2px;
  transform: scale(0.3);
  animation: Move-Arrow 2s ease-out infinite;
}
.wheel span:first-child {
  animation: Move-Arrow 2s ease-out 0.5s infinite;
}
.wheel span:nth-child(2) {
  animation: Move-Arrow 2s ease-out 1s infinite;
}
.wheel span:before, .wheel span:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background-color: #d0b179;
}
.wheel span:before {
  left: 0;
  transform: skewY(30deg);
}
.wheel span:after {
  right: 0;
  width: 50%;
  transform: skewY(-30deg);
}

.jankx-fullpage-navigate {
  position: fixed;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.jankx-fullpage-navigate .navigate-icon {
  max-height: 60px;
  cursor: pointer;
}
.jankx-fullpage-navigate .navigate-icon svg {
  max-height: 60px;
}
.jankx-fullpage-navigate .wheel {
  animation: Start 2s steps(1) 0s 1 normal both;
}

.navigate-icon.top {
  display: none;
}

body.admin-bar.jankx-fullpage .jankx-site-header {
  top: 32px;
}

@media screen and (max-width: 782px) {
  body.admin-bar.jankx-fullpage .jankx-site-header {
    top: 46px;
  }
}

/*# sourceMappingURL=jankx-fullpage-layout.css.map */
